.active {
  color: #007bff;
 border-bottom: 2px solid #007bff;
}


.dancing-script-nav {
                     font-family: "Dancing Script", cursive;
                     font-optical-sizing: auto;
                     font-weight: 700;
                     font-style: normal;
                 }

.shadows-into-light-regular {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
}