.grenze-gotisch-font {
                    font-size: 25px;
                     font-family: "Grenze Gotisch", serif;
                     font-optical-sizing: auto;
                     font-weight: 500;
                     font-style: normal;
                 }